$gray : #cecece;
.app{
  nav{
    padding: 0.3rem 1rem;
    height: 60px;
  }
  .dropdown-toggle.nav-link{
    padding: 10px;
  }
  a{
    &:hover{
      cursor: pointer;
    }
    &:focus{
      box-shadow: none;
    }
  }
  .notification{
    > div{
      padding: 5px 0;
    }
  }
  .dropdown-item{
    color: #444;
  }
  .user{
    display: inline-block;
    img{
      border-radius: 50%;
      width: 40px;
    }
    span{
      padding-left: 10px;
    }
  }
  &-page{
    position: fixed;
    top: 60px;
    width: 100%;
    height: 100%;
    padding: 20px 0;
  }
  /* The sidebar menu */
  &-sidenav {
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 60px; /* Stay at the top */
    bottom: 0;
    left: 0;
    background-color:white; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    margin: 20px 0;
    border-right: 1px solid $gray;
    a {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 16px;
      color:#444;
      display: block;
      margin: 0 2px;
      border-radius: 4px;
      &.active{
        color: #007bff;
      }
      &:hover{
        color: white;
        background: #007bff
      }

    }
  }

  /* Style page content */
  &-main {
    margin-left: 160px; /* Same as the width of the sidebar */
    height: 100%;
    overflow: auto;
    .separator{
      display: inline-block;
      width: 20px;
    }
    .btn{
      height: 40px;
      margin-bottom: 3px;
      &:focus{
        box-shadow: none;
      }
    }
    td{.btn{
      height: unset;
      margin:0;
      padding: 0
    }}
    .tab-content{
      padding: 20px 0;
      nav{
        padding: 0;
        height: 40px;
      }
      .row{
        padding-bottom: 20px;
      }
      .input-group-text{
        background: none;
      }.dropdown{
        height: 40px;
        margin-top: -2px;
        .btn{
          color: #6c757d;
          border: 1px solid #cecece;
        }
      }.pagination{
        display: inline-flex;
      }
    }
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    &-sidenav {padding-top: 15px;
      a {font-size: 18px;}}
    }
  }
